.contenidoCard{
    color: black;
}
.contador{
    color: black;
    border: black solid 3px;
    border-radius: 10px;
    display: grid;
}
.cards{
    display: flex;
  flex-direction: row;
  justify-content: center;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.cardsh{
    border: black solid 4px;
    margin: 5px;
}